<div class="main">
    <ul style="display: flex; justify-content: center; list-style-type: none;">
        <li>
            <a href="/" class="active" style="margin: 1rem;">Home</a>
            <a href="/users/dashboard" class="active" style="margin: 1rem;">Dashboard</a>
        </li>
    </ul>
</div>