<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/navbarHome.ejs') %>
            <div class="title">
                <h1>SELAMAT DATANG DI APLIKASI PERPUSTAKAAN</h1>
            </div>
    </header>
</body>

</html>