<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Masuk</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <header>
            <div class="input">
                <h1>Masuk</h1>
                <ul>
                    <% if (err != 'undefined') { %>
                        <% for(let i in err.errors)  { %>
                            <li style="list-style-type: none; color: red;">
                                <%= err.errors[i].message %>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
                <form action="/users/login" method="POST">
                    <div class="form-input">
                        <input class="labelRegist" type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-input">
                        <input class="labelRegist" type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-input">
                        <input class="submit" type="submit" value="Masuk">
                    </div class="form-input">
                    <div>
                        <a href="/users/register" class="btnSubmit">Belum punya akun? Daftar disini </a>
                    </div>
                </form>
            </div>
        </header>
</body>

</html>